.block {
  position: absolute;
  border: 2px solid black;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.block.empty {
  background-color: white;
}
#gameContent {
  position: relative;
  width: min(80vh, 80vw);
  height: min(80vh, 80vw);
  margin-left: calc(50vw - min(40vh, 40vw));
  margin-top: calc(50vh - min(40vh, 40vw));
}
